.ipynb_checkpoints/
cortos de pandas.txt
df_homicidios.csv
df_victimas.csv
EDA (copia 1).ipynb
EDA_original.ipynb
Exploratory Data Analysis Using Supermarket Sales Dataset.ipynb
funciones varias.txt
pregunta a AI's de proyecto ind. 2 - siniestros viales.txt
Tareas del proyecto ind. 2 Siniestros Viales.txt
token de este proyecto para github.txt
